[2020-10-10 13:29] sggts04 opened #1 "Give the Home Section a relevant background image."
After adding the background image, make sure the text "Geektober.." and the button are still visible properly, you may have to change their styling.

[2020-10-10 13:32] sggts04 opened #2 "Improve the colouring of the site, and also update the About Section text."
Currently the site looks very dull, improve the colouring choice. You can search for good colour palletes.
Also, update the text in About section with information about Geektoberfest.

[2020-10-10 13:35] sggts04 opened #3 "[IMPORTANT] Add your PRS"
After every Pull Request of yours that gets merged, you have to add its details to your contribution JSON file so that we can keep track of your contributions. Instructions on how to add PR details are given below:

To add your pull requests, open `contributions` folder and in their add your own json file with **file name as your Github Username**. Please maintain the following format EXACTLY (rep

[2020-10-10 13:39] ZarghamDanial commented on #1
Hey, can I take up this issue?

[2020-10-10 13:55] sggts04 commented on #1
Hey, thanks for your interest. However, this repo is part of an event being held exclusively for our organisation.

Thanks.

[2020-10-10 14:27] tjrelyts commented on #2
I'll take up this issue.

[2020-10-10 14:29] sggts04 commented on #2
Hey, thanks for your interest. However, this repo is part of an event being held exclusively for our organisation.

Sorry for the inconvenience.

[2020-10-10 15:39] maityankan10 commented on #2
can I contribute for hacktoberfest

[2020-10-10 16:24] Jyotika999 commented on #2
I want to work on this.

[2020-10-10 16:28] sggts04 commented on #2
@Jyotika999 The event begins at midnight! We can only start assigning issues then.

[2020-10-10 18:27] JLodha commented on #2
I want to work on this
Since the official mail is released now then shouldn't I get the priority?

[2020-10-10 18:28] sggts04 commented on #2
@JLodha sure go ahead.

[2020-10-10 18:30] alkatrivedi commented on #1
I would like to work on it. May I?

[2020-10-10 18:30] JLodha commented on #1
I want to work on this

[2020-10-10 18:31] AlacritousCreature commented on #1
I want to work on this. May I?

[2020-10-10 18:31] Cypherdious89 commented on #1
I want to work on this @sggts04

[2020-10-10 18:31] sggts04 commented on #1
@alkatrivedi go ahead

[2020-10-10 18:32] Cypherdious89 commented on #2
I want to work on this @sggts04

[2020-10-10 18:32] alkatrivedi commented on #1
On it. Thanks!

[2020-10-10 18:33] BLACK-PEARLL commented on #2
i want to work on this issue @sggts04

[2020-10-10 18:34] BLACK-PEARLL commented on #1
i want to work on this issue @sggts04

[2020-10-10 18:41] Saggittarius-A commented on #2
i want to work on this.

[2020-10-10 18:42] sggts04 opened #4 "Convert the navbar into a hamburger menu for mobile view"
You can use Bootstrap/Jquery.

[2020-10-10 18:44] AlacritousCreature commented on #4
I want to work on this. May I?

[2020-10-10 18:44] geeks5551 commented on #4
Hey can you pls assign me this issue? looks interesting

[2020-10-10 18:45] sggts04 commented on #4
@AlacritousCreature go ahead.

[2020-10-10 18:45] Cypherdious89 commented on #4
I want to work on this @sggts04

[2020-10-10 18:46] BLACK-PEARLL commented on #4
i want to work on this issue @sggts04

[2020-10-10 18:51] geeks5551 commented on #2
i want to work on this @sggts04

[2020-10-10 20:31] alkatrivedi commented on #1
@sggts04 I have set the image. Have a look at what I did and tell me if it's okay or not. If not, what can I improve?
![Capture](https://user-images.githubusercontent.com/58396306/95664457-9dae9980-0b65-11eb-89c4-f11d60c9ad67.JPG)

[2020-10-10 20:36] sggts04 commented on #1
@alkatrivedi the text isn't too readable. Maybe you can style the text to make it readable according to the color of the background image.

[2020-10-10 20:39] alkatrivedi commented on #1
Yeah sure!

[2020-10-10 20:43] sggts04 opened #7 "Add a favicon and also add GeekHaven logo to the navbar"
Add the GeekHaven logo as a favicon and also add it beside the Geektoberfest'20 heading in the navbar.

If you use a local image instead of a URL, make sure to put it in a seperate /public/images folder.

[2020-10-10 20:55] aj0311 commented on #7
@sggts04 Can I work on this issue?

[2020-10-10 20:58] sggts04 commented on #7
@aj0311 go ahead

[2020-10-10 21:01] caseymhunt commented on #7
Favicon added (compatible with all devices) and logo added to the header to match height of the text. This size is easy to adjust if you'd like the image larger.

[2020-10-10 21:03] sggts04 commented on #7
Hi, @caseymhunt this issue has already been assigned to somebody else. I'm closing the mentioned PR.

[2020-10-10 21:13] caseymhunt commented on #7
Lol- ok. The work is done but sure.

[2020-10-10 21:30] alkatrivedi commented on #1
How is it Now? Or anything else I can improve!
![Capture](https://user-images.githubusercontent.com/58396306/95665429-c3d83780-0b6d-11eb-89eb-7817c6068aa8.JPG)

[2020-10-10 21:32] sggts04 commented on #1
Looks good to me, make sure to add a live link in the PR details when you send the PR.

[2020-10-11 05:15] tsukii21 opened #13 "Make the site responsive"
Currently the site breaks at mobile and tablet widths. Add responsiveness to the site, so that it looks good, especially for mobile devices.

[2020-10-11 05:20] tsukii21 opened #14 "UI Redesign"
Currently the site looks quite dull and bland. Add a good font and try to redesign the site as you see fit without changing the html structure

[2020-10-11 05:30] tsukii21 opened #15 "Add a contact section"
Currently there's no contact section in the page. Add a section at the end before the footer and add social media icons (these links' hrefs may be left empty, we will update it).

[2020-10-11 05:31] sandy9808 commented on #15
I can do it..

[2020-10-11 05:39] BLACK-PEARLL commented on #15
please assign me this issue  @tsukii21

[2020-10-11 05:40] tsukii21 commented on #15
Go ahead @sandy9808 . When you are making the PR, make sure to add a screenshot of what you have done

[2020-10-11 05:41] BLACK-PEARLL commented on #13
please ,assign me this issue @tsukii21
i want to work on this

[2020-10-11 05:42] BLACK-PEARLL commented on #14
please assign, me this issue @tsukii21

[2020-10-11 05:47] maityankan10 commented on #15
please assign this to me

[2020-10-11 05:50] tsukii21 commented on #15
Everyone else, there are many more issues out there, and many more coming up. Don't give up and keep hacking!

[2020-10-11 06:11] Priyansh-09 commented on #13
Hey @tsukii21 I wan to work on this

[2020-10-11 06:12] Cypherdious89 commented on #14
Hey @tsukii21 can you assign me this issue ?

[2020-10-11 06:13] shyamTayal commented on #13
I want to work on this one , Please assign this to me

[2020-10-11 06:14] shyamTayal commented on #4
Can i work on this one ? Please assign

[2020-10-11 06:17] tsukii21 commented on #13
You are assigned @BLACK-PEARLL . Make sure to add a link to a live page when you are making the PR.

[2020-10-11 06:21] tsukii21 commented on #13
Everyone else, thanks for the interest, there are many more interesting projects and issues coming up exclusively for students of our college.

[2020-10-11 06:23] tsukii21 commented on #14
@Priyansh-09 You are on this issue. Add a preview when pushing, so we can see what you have done.

[2020-10-11 06:33] shyamTayal commented on #2
Can i work on this

[2020-10-11 06:37] #1 closed

[2020-10-11 07:12] tsukii21 opened #19 "Make the navbar sticky"
The navbar should be visible from anywhere on the page. make it sticky without breaking the existing site. A live preview is expected with a PR

[2020-10-11 07:16] cosmoimai commented on #19
@tsukii21, I would like to work on this . can you assign it to me

[2020-10-11 07:18] sandy9808 commented on #15
Is it fine @tsukii21
![Uploading image.png…]()

[2020-10-11 07:18] tsukii21 commented on #19
Go ahead @cosmoimai

[2020-10-11 07:19] sandy9808 commented on #15
Is it fine @tsukii21 ?
![image](https://user-images.githubusercontent.com/58395595/95672637-2bb76e00-0bc0-11eb-8941-ead3cda9c379.png)

[2020-10-11 07:20] shyamTayal commented on #19
can i work on this one ?

[2020-10-11 07:21] shyamTayal commented on #15
i want to work on this one ... Can i?

[2020-10-11 07:33] tsukii21 commented on #15
@sandy9808 Well, it was mentioned clearly that we needed social media icons, not a form (we don't really need a form). Anyway thanks for the effort

[2020-10-11 07:34] tsukii21 commented on #15
@shyamTayal You are being assigned.

[2020-10-11 07:35] cosmoimai commented on #19
@tsukii21 can you explain what live preview means?

[2020-10-11 07:36] tsukii21 commented on #15
@sandy9808 you can try on the icons still now, if it turns out good, we will reconsider it

[2020-10-11 07:39] tsukii21 commented on #19
After forking and pushing changes to your forked repo, you can publish the page on github pages. You can search how to do it, its pretty simple

[2020-10-11 07:45] cosmoimai commented on #19
Ok

[2020-10-11 07:46] shyamTayal commented on #15
Can i take icons from font awesome or do i have to manully add images? Because for font awesome icons i have an idea that i can make them glowing on hovering ..

[2020-10-11 07:46] cosmoimai commented on #19
so, I have to publish a page and give the link of the page. is it?

[2020-10-11 07:47] tsukii21 opened #23 "Add smooth scroll on nav-link click"
Currently, clicking the links on navbar scrolls the page abruptly, the scroll should be smooth. This may need a bit of JS. Add your JS in main.js in public/js and add a link to this file too in the html file

[2020-10-11 07:49] tsukii21 commented on #19
yea exactly

[2020-10-11 07:51] cosmoimai commented on #19
So, I don't have to make a new branch for that?

[2020-10-11 07:57] CadencePrestissimo commented on #23
I would like to work on it .

[2020-10-11 08:01] sggts04 commented on #23
@CadencePrestissimo go ahead!

[2020-10-11 08:09] cosmoimai commented on #19
done #26

[2020-10-11 08:22] #2 closed

[2020-10-11 09:58] shahidsiddiqui786 commented on #23
I want to work on it.

[2020-10-11 10:34] Mehul-12 commented on #14
interested, pl assign

[2020-10-11 10:42] tsukii21 commented on #15
@shyamTayal Your PR was good, I merged it, but somehow its breaking. Please pull new changes in your local repo and fix the issue. It must be trivial. Then make a new PR.I will merge it immediately

[2020-10-11 10:45] tsukii21 commented on #15
I am closing this issue with @shyamTayal 's implementation. Good work!

[2020-10-11 10:45] #15 closed

[2020-10-11 10:47] tsukii21 commented on #19
Good work. I am closing this issue

[2020-10-11 10:47] #19 closed

[2020-10-11 11:28] shyamTayal commented on #15
Thank You!
Can you please elaborate where it is breaking? I have pulled new changes into my local repo. It seems perfectly fine to me.

-------- Original message --------
From: jaidev <notifications@github.com>
Date: 11/10/2020 4:13 pm (GMT+05:30)
To: GeekHaven/Geektoberfest-Main <Geektoberfest-Main@noreply.github.com>
Cc: Shyam Tayal <shyam.tayal@hotmail.com>, Mention <mention@noreply.github.com>

[2020-10-11 11:57] Cypherdious89 commented on #14
I'll try to submit it by tonight.

[2020-10-11 12:30] tsukii21 commented on #14
cool

[2020-10-11 12:48] sggts04 opened #37 "Add all the projects"
In the projects section, add all the projects involved in Geektoberfest as cards. Add Relevant image for each repo, Project Title, Description, Maintainer Names and then a repo link button.

**All the projects marked with 'hacktoberfest' tag in the GeekHaven org are part of Geektoberfest.**

**You can make use of Bootstrap cards, just make sure the Cards look good, the current card template presen

[2020-10-11 12:58] Capt-Titanium commented on #37
heyy!,  can I work on this issue?

[2020-10-11 12:59] sggts04 commented on #37
@Capt-Titanium go ahead

[2020-10-11 16:15] Cypherdious89 commented on #14
Hey, check out these screenshots, and suggest if any other things can be added.

![Screenshot](https://user-images.githubusercontent.com/55129015/95683601-fdf71700-0c09-11eb-924a-18171b17ecc4.png)

The NavBar links show color transition when hovered. That _Get Started button_ is responsive, it give a slight push effect when hovered and a press effect when clicked.
![Screenshot (1)](https://user-im

[2020-10-12 06:07] tsukii21 commented on #14
Nice work @Priyansh-09 . This issue will be closed now.

[2020-10-12 06:07] #14 closed

[2020-10-12 06:41] sggts04 opened #51 "Link all the Social Icons in the footer to the Social Media Accounts of GeekHaven"

[2020-10-12 06:42] shyamTayal commented on #51
i can do that

[2020-10-12 06:48] sggts04 opened #52 "Add all the Participants"
By dynamically using the JSON files in the contributions/ folder, add the details of all participants in the form of Cards.

A participant card should have their image, name, about, buttons to their fb/github, and number of PRs they have made so far.

DON'T USE THE CARD TEMPLATE ALREADY PRESENT, it doesn't look that good. You can use Bootstrap Cards.

Make sure to separate the JS into a js file in

[2020-10-12 06:48] sggts04 commented on #51
@shyamTayal go ahead.

[2020-10-12 06:56] shyamTayal commented on #51
where do i get the logo for the geekhaven website to add it ?

[2020-10-12 06:58] sggts04 commented on #51
You don't need that. Just link the existing icons in the contact section to corresponding Geekhaven accounts.

[2020-10-12 07:11] sggts04 opened #54 "Add a timer above the main title in the home section"
Above the Geektoberfest'20 Heading, add a cool looking timer for when Geektoberfest ends (30 Oct).

You can add a label above the timer like "Ends in" , followed by the countdown

[2020-10-12 07:15] sggts04 opened #55 "Add a preloader to the website"
Add a cool looking preloader to the website. You can use a gif, but make sure its transparent.

[2020-10-12 07:27] shyamTayal commented on #55
i want to work on it . Please assign

[2020-10-12 07:32] #51 closed

[2020-10-12 07:33] sggts04 commented on #55
@shyamTayal go ahead

[2020-10-12 07:34] Cypherdious89 commented on #54
Can I do this ?

[2020-10-12 07:37] sggts04 opened #57 "Fix Social Icons in contact section not visible"
Most Social Icons in the contact section are not visible, there is some class issue there. Make them visible again!

Make sure to update your repo to the latest version of this repo first, so you can see the issue and also to avoid conflicts.

[2020-10-12 07:37] sggts04 commented on #54
@Priyansh-09 go ahead

[2020-10-12 07:37] Cypherdious89 commented on #57
Can I do this @sggts04 ??

[2020-10-12 07:38] Aditya-2001 commented on #54
I want to do this

[2020-10-12 07:41] sggts04 commented on #57
@Priyansh-09 go ahead

[2020-10-12 08:15] #57 closed

[2020-10-12 08:16] #4 closed

[2020-10-12 09:10] Aditya-2001 commented on #52
I want to work on it

[2020-10-12 09:34] sggts04 commented on #52
@Aditya-2001 sure

[2020-10-12 09:51] shyamTayal commented on #55
i am having a problem here. I have added a gif but it is not showing up on the page and also if does it stay there even after loading
see following code snippet:

`
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <div id="preloader"></div>
`

`
$(function() {
    $(window).on("load", function() {
        $('#preloader').remove();
    });
});
`

`#p

[2020-10-12 10:39] tsukii21 commented on #23
@CadencePrestissimo send a live link of your working repo. smooth nav is working but everything else is gone

[2020-10-12 10:42] tsukii21 commented on #23
Please respond quickly or we will roll back your PR merge

[2020-10-12 11:13] tsukii21 commented on #55
Can you give a link to your repo (which I believe is already hosted on github)?

[2020-10-12 11:23] tsukii21 commented on #55
make sure the jquery link is after everything in body tag (if you have pulled the latest changes there should already be a jquery link in the proper position) and the link to main.js is after the jquery link. Also, since the site is static and there is almost nothing there, the browser loads the page instantly and you can't see your preloader. Use a setTimeOut or something to make sure the loader

[2020-10-12 11:59] shyamTayal commented on #55
I did what you said exactly still it is same as before

[2020-10-12 12:05] shyamTayal commented on #55
I am actually facing problem in syncing the repo .So i copied the code from original repo .And now it showing fatal error.

[2020-10-12 12:09] shyamTayal commented on #55
Now i am able to remove the preloader on loading but it doesn't play the gif

[2020-10-12 12:12] shyamTayal commented on #55
[https://shyamtayal.github.io/Geektoberfest-Main/](url) : Live preview

[2020-10-12 12:30] CadencePrestissimo commented on #23
https://nervous-mirzakhani-70f62c.netlify.app

[2020-10-12 12:30] CadencePrestissimo commented on #23
Sorry, I saw it late.

[2020-10-12 12:43] tsukii21 commented on #23
Link the repo your netlify app is based on. I saw your forked repo. Its live preview(on github pages) is different from your netlify preview.
Your smooth nav code is working and once I confirm that it is synced with the latest changes in our main repo, I will merge it.

[2020-10-12 12:44] Cypherdious89 commented on #54
Hey @sggts04 , I hope this is fine.

![Screenshot (5)](https://user-images.githubusercontent.com/55129015/95747768-99de5c80-0cb6-11eb-95a9-30ea8b2cf7d9.png)

[2020-10-12 12:50] CadencePrestissimo commented on #23
https://cadenceprestissimo.github.io/Geektoberfest-Main/
This is the one from the github-pages,  Its also same

[2020-10-12 12:51] sggts04 commented on #54
It looks decent but maybe it can be a little more minimal..? Its not fitting the vibe of the page is what I'm saying. The timer and its label can't be bigger than the title of the event itself :P

[2020-10-12 12:56] tsukii21 commented on #23
yeah its all right (I was actually opening the original geekhaven live preview from your repo, my bad). Ok, make a new PR. This time it should be all right.

[2020-10-12 12:57] Cypherdious89 commented on #54
Now ??
Reduced the font-size from 5em to 4em. 😅

![Screenshot (6)](https://user-images.githubusercontent.com/55129015/95748969-76b4ac80-0cb8-11eb-882c-6185c9f8574f.png)

[2020-10-12 13:02] sggts04 commented on #54
Looks better, I feel the label(Events Ends In) needs to be smaller and more closer to the timer. Currently the Label is foreshadowing the timer. After that fix you can just submit a PR I think (with a live link)

[2020-10-12 13:29] sggts04 commented on #55
no preloader is showing on that link

[2020-10-12 14:41] shyamTayal commented on #55
Now i am able to remove the preloader on loading but it doesn't play the gif.....

[2020-10-12 15:01] Cypherdious89 commented on #54
@sggts04 I am getting this **warning** while generating GitHub live page link in console - _Loading failed for the <script> with source _https://priyansh-09.github.io/public/js/main.js_._

**_GitHub live Page link -_** https://priyansh-09.github.io/Geektoberfest-Main/
Due to this countdown timer is not loading due to that on GitHub live page.
Can you please help with this issue ?

**_On GitHub liv

[2020-10-12 15:06] sggts04 commented on #54
You included the JS with location "/public/js/main.js" which is trying to look for the js file outside of your main repo.

Try using "public/js/main.js" instead

[2020-10-12 15:09] tsukii21 commented on #23
Okay I will be closing this issue. Good work @CadencePrestissimo

[2020-10-12 15:09] sggts04 commented on #55
You have used the wrong path for rocket.gif, its somewhere else but path is trying to find it somewhere

[2020-10-12 15:09] #23 closed

[2020-10-12 15:10] Cypherdious89 commented on #54
Thanks ! Fixed the issue. Creating a PR for this.

[2020-10-12 15:16] shyamTayal commented on #55
Got it , I didn't consider that css file is in public/css directory

[2020-10-12 15:21] tsukii21 opened #71 "Navbar redesign"
The navbar is back to being non-sticky due to latest redesign commits. Also the brand is somewhat smaller than the links. They should be of equal size or the other way around. Also the current effect on hover is somewhat subtle. All these should be fixed without changing the current structure and functionality of the element

[2020-10-12 15:23] Codedude1 commented on #71
I want to work on this

[2020-10-12 15:24] tsukii21 commented on #71
Go ahead

[2020-10-12 15:31] Cypherdious89 commented on #71
@tsukii21 Actually I have fixed that while solving my issue. 😅
I even created a PR but closed that due to some merge conflicts caused due to adding smooth scrolling feature. Creating another one in about an hour or so.

[2020-10-12 15:39] tsukii21 commented on #71
@Priyansh-09 You have fixed all of my mentioned issues? And did you pull the latest changes?

[2020-10-12 15:48] Cypherdious89 commented on #71
I created a PR with fixing all these issues but there was some merge conflicts due to PR that added smooth scroll feature. Creating a new one in just a few minutes

[2020-10-12 16:29] Codedude1 commented on #7
I wanna wok on this

[2020-10-12 17:04] Cypherdious89 commented on #71
@tsukii21 I have made the all the design changes that you have mentioned in PR #73.
Here's the GitHub live page link - https://priyansh-09.github.io/Geektoberfest-Main/
Please review this.

[2020-10-12 17:10] sggts04 commented on #13
@BLACK-PEARLL are you working on this still? any update?

[2020-10-12 17:17] geeks5551 commented on #13
@sggts04 Can I work on this?

[2020-10-12 17:21] BLACK-PEARLL commented on #13
Sir, actually my laptop got crashed, thatwhy i unable to complete my task, i will compete it my tomorrow night

[2020-10-12 17:22] BLACK-PEARLL commented on #13
Actually my laptop got crashed, thatwhy i unable to complete my task, i will compete it my tomorrow night.
@sggts04

[2020-10-12 17:23] sggts04 commented on #71
@Codedude1 Priyansh has solved some of the issues but the nav is still not sticky and can definitely use some cool hover effect. Make sure to update your fork to the latest version of this repo before making new changes.

[2020-10-12 17:23] #54 closed

[2020-10-12 17:26] Codedude1 commented on #71
Okay Sure. Thanks.

[2020-10-12 17:28] sggts04 commented on #13
Ok fine you can do it by tomorrow night but after that I am gonna have to reassign if not completed.

[2020-10-13 04:45] Codedude1 commented on #7
@sggts04 Is this fine ?

![Screenshot 2020-10-13 101418](https://user-images.githubusercontent.com/53789050/95816902-dbfeb100-0d3d-11eb-9e8f-ffd840195bae.png)

[2020-10-13 05:12] sggts04 commented on #7
if the favicon could be transparent then it would be better, other than that, looks good.

[2020-10-13 05:15] sggts04 commented on #37
@Capt-Titanium are you still working on this?

[2020-10-13 05:16] Capt-Titanium commented on #37
Yes @sggts04 , I will be sending the PR shortly.

[2020-10-13 05:17] sggts04 opened #76 "Add a 'Scroll to Top' Button"
It should be floating in the bottom right side when scrolling down. Choose an appropriate icon for the button

[2020-10-13 05:18] geeks5551 commented on #76
can i work on this issue @sggts04 ?

[2020-10-13 05:18] sggts04 commented on #76
@geeks5551 go ahead

[2020-10-13 05:19] sggts04 opened #77 "Link the Get Started button to this Geektoberfest-Main repo"

[2020-10-13 05:23] geeks5551 commented on #77
can i work on this @sggts04 ?

[2020-10-13 05:26] sggts04 opened #79 "Add a Night Mode Toggle Button"
Add a button which lets you toggle between Night Mode and the current color scheme.

For implementing dark mode colors, you can google some good dark mode color palettes. Also, make sure the toggle button is not too big and distracting, it should be a small icon in the top right.

[2020-10-13 05:26] sggts04 commented on #77
@geeks5551 go ahead

[2020-10-13 05:29] geeks5551 commented on #79
Can i work on this issue @sggts04?

[2020-10-13 05:32] Priyansh-09 commented on #79
I want to work on this @sggts04

[2020-10-13 05:33] sggts04 commented on #79
@geeks5551 let others get some issues aswell :)

[2020-10-13 05:34] basil08 commented on #79
can i work on this @sggts04 ?

[2020-10-13 05:35] sggts04 commented on #79
Hi @basil08 , thanks for your interest. However, this repo is part of an event being held for our organisation. Sorry!

[2020-10-13 05:37] basil08 commented on #79
i have signed up for hacktoberfest if that is the event you are referring to. i am looking for my first PR to make. if this is not one, can you point to some which are eligible repos? thanks :)

[2020-10-13 05:39] Codedude1 commented on #79
Is this open? I would like to work.

[2020-10-13 05:42] sggts04 commented on #79
@Codedude1 you already have two assigned issues in this repo :)

[2020-10-13 05:46] Cypherdious89 commented on #79
Can I work on this @sggts04 ?

[2020-10-13 05:50] kumarmanish03 commented on #79
I want to work on it. @sggts04

[2020-10-13 06:12] sggts04 commented on #79
@kumarmanish03 go ahead

[2020-10-13 06:14] #7 closed

[2020-10-13 07:03] sggts04 opened #83 "Redesign footer"
Following the colour scheme and design of the new navbar, redesign the footer using a similar design style, fonts etc. Try to keep it minimal.

[2020-10-13 07:04] Cypherdious89 commented on #83
Can I do this @sggts04 ??

[2020-10-13 07:06] sggts04 commented on #83
@Priyansh-09 go ahead

[2020-10-13 07:32] tsukii21 commented on #71
@Codedude1 The mentioned issues are fixed but since the navbar is hovering above and the entire page is pushed upwards to take the space of the previously non-sticky navbar, smooth scroll navigation is ending up in cropped sections. Fix this issue.

[2020-10-13 07:34] sggts04 commented on #71
For example:
![image](https://user-images.githubusercontent.com/20678047/95829930-8c77af80-0d54-11eb-8498-7d2b883cea7b.png)

Clicking on Projects leads me to here, it assumes there is no navbar there and shows cropped up. Ideally the section should appear below the navbar

[2020-10-13 08:01] Cypherdious89 commented on #71
I will fix this while Re-designing footer for the page ( Issue #83 ).

@Codedude1 is facing some problems currently.

[2020-10-13 08:08] Codedude1 commented on #71
Thanks, @Priyansh-09. I'm doing some urgent work rn.

[2020-10-13 08:12] tsukii21 commented on #71
Cool. I am closing this issue.

[2020-10-13 08:12] #71 closed

[2020-10-13 08:23] tsukii21 opened #84 "Custom cursor and scrollbar"
The default cursor and the scrollbar are getting in the way of the overall theme. They need to be customized.
(the cursor doesn't need to be flashy or animated, a simple dot which is visible anywhere in the page would do)

[2020-10-13 08:24] Capt-Titanium commented on #83
@sggts04 can I work on this issue?

[2020-10-13 08:24] sandy9808 commented on #84
i can do the scroll bar part only.

[2020-10-13 08:25] Priyansh-09 commented on #84
Can I do this @tsukii21 ?

[2020-10-13 08:26] tsukii21 commented on #84
Go ahead. Any contribution is welcome

[2020-10-13 08:28] tsukii21 commented on #84
@sandy9808 you deal with the scroll bar and @Priyansh-09 finish your currently assigned issues first and then we will see

[2020-10-13 08:31] Cypherdious89 commented on #84
Can I add the custom cursor part @tsukii21 ??

[2020-10-13 08:34] tsukii21 commented on #84
@Priyansh-09 No you can not. We will wait to see if a new contributor wants to do it and if no one comes up I will assign it to you. Please do your current tasks for now

[2020-10-13 08:36] tsukii21 commented on #55
Any updates?

[2020-10-13 08:40] tsukii21 commented on #52
Any updates @Aditya-2001 ?

[2020-10-13 08:57] shyamTayal commented on #55
Gif is showing but now it doesn't disappear after loading. Trying to fix that and also a major problem occured while i was pulling new changes into my forked repository.
Apparently i might have made a mistake so now all the contribution json files have changed

[2020-10-13 09:15] Aditya-2001 commented on #52
I have tried 4-5 different approach to read the json file, but every time the js file is showing error like: Cannot use import statement outside a module, Uncaught ReferenceError: require is not defined at, xmlhttprequest blocked.
I am trying to resolve the error. I need some time.

[2020-10-13 12:01] BLACK-PEARLL commented on #13
Sorry for inconvenience, but still my laptop in not working, and i doesn't have any other system to complete this task.

[2020-10-13 12:15] tsukii21 commented on #13
Okay. Actually I will be closing this issue. This issue will be reopened after the projects and participants sections are done to avoid any syncing conflicts.

[2020-10-13 12:15] #13 closed

[2020-10-14 05:42] Cypherdious89 commented on #83
Hey @sggts04 is this footer looks fine ??

![Screenshot (1)](https://user-images.githubusercontent.com/55129015/95948704-b2618a80-0e0e-11eb-81d8-cec0072fd51f.png)

Give you feedback.
I still have to add some hover effects to social icons and to fix that issue of cropping sections issue due to sticky navbar.

[2020-10-14 05:46] sggts04 commented on #83
Looks good, maybe you could use the same colour scheme as the navbar maybe? So that the site looks more uniform

[2020-10-14 05:58] Cypherdious89 commented on #83
How about this @sggts04 ?

![Screenshot (3)](https://user-images.githubusercontent.com/55129015/95949450-58fa5b00-0e10-11eb-854a-b9ad515f6c5f.png)

Color Scheme same as the navbar

[2020-10-14 06:02] sggts04 commented on #83
On second thought, the earlier version looks better 😂. Actually the dark version contrasted the the section above it well, so that version is better.
You can go ahead with the dark colour scheme version 👍

[2020-10-14 07:15] #37 closed

[2020-10-14 07:17] sggts04 commented on #52
@Aditya-2001 any progress? Unless you feel you can complete by today, I'm gonna have to reassign this soon

[2020-10-14 07:18] sggts04 commented on #55
@shyamTayal any progress? If you can complete it in a few hours then fine else I'm gonna have to reassign this

[2020-10-14 07:19] #77 closed

[2020-10-14 07:22] shyamTayal commented on #55
I have tried a lot of things but the preloader won't leave the screen so you can unassign me.   @Priyansh-09 was saying he is interested and has a great idea about the preloader so you can assign him.

[2020-10-14 07:33] #84 closed

[2020-10-14 07:35] Cypherdious89 commented on #55
@sggts04 I think you should assign it to someone else, not me. Everyone should get a chance to contribute.

[2020-10-14 07:36] sggts04 commented on #55
Yes, this issue is now open for others to claim.

[2020-10-14 07:56] kumarmanish03 commented on #55
I want to work on it

[2020-10-14 08:02] sggts04 commented on #55
go ahead

[2020-10-14 08:03] sggts04 commented on #55
@kumarmanish03 also fix your last pr, the website you linked is absolutely broken

[2020-10-14 08:06] sggts04 opened #105 "Fix Navbar cropping stuff when menu elements are clicked."
Since the navbar is hovering above and the entire page is pushed upwards to take the space of the previously non-sticky navbar, smooth scroll navigation is ending up in cropped sections.

Example:
![image](https://user-images.githubusercontent.com/20678047/95961051-28bbb800-0e22-11eb-8a46-16a01f50d521.png)
Clicking on Projects leads me to here, it assumes there is no navbar there and shows cropped

[2020-10-14 08:09] kumarmanish03 commented on #55
@sggts04 I see, ;) , I have made a new pr for that , review it https://github.com/GeekHaven/Geektoberfest-Main/pull/103

[2020-10-14 08:11] Vanhsiav-afk commented on #105
can i work on this?

[2020-10-14 08:12] sggts04 commented on #105
Go ahead

[2020-10-14 08:21] sggts04 opened #106 "Change the Geekhaven logo in navbar to a white logo when dark mode is toggled on"
![image](https://user-images.githubusercontent.com/20678047/95962449-0165ea80-0e24-11eb-96cf-ca1327ad30bb.png)
When dark mode is toggled, we can barely see the black geekhaven logo. What you should do is change the geekhaven logo to a white version, when dark mode gets toggled, and then revert back to the old logo, when light mode gets toggled again.

You can find the white logo here: https://raw.

[2020-10-14 08:26] Aldhanekaa commented on #106
May I work on this issue?

[2020-10-14 08:31] Vanhsiav-afk commented on #105
![Screenshot 2020-10-14 140055](https://user-images.githubusercontent.com/58393703/95963805-bfd63f00-0e25-11eb-9c09-3299cf09e7c6.png)
Does this look good now?

[2020-10-14 08:36] geeks5551 commented on #106
can i work on this issue? @sggts04

[2020-10-14 08:41] sandy9808 commented on #106
Can i ?

[2020-10-14 08:42] Vanhsiav-afk commented on #105
![Screenshot 2020-10-14 141119](https://user-images.githubusercontent.com/58393703/95965083-2ad44580-0e27-11eb-89e2-a87530f85f68.png)
Does this look good?

[2020-10-14 08:46] sggts04 commented on #105
Looks better, the section should start where navbar ends. And this should be done with all the menu items.
Also please don't just use a fixed margin or something, keep in mind the responsiveness on different screens, resize your window and make sure it looks fine there too.

[2020-10-14 08:47] sggts04 commented on #106
@geeks5551 go ahead

[2020-10-14 08:57] sggts04 opened #107 "Project link should open in a new tab when 'Go to Repo' button is clicked on a Project."

[2020-10-14 08:58] Mehul-12 commented on #107
interested, pl assign.

[2020-10-14 08:58] sggts04 commented on #107
@Mehul-12 go ahead

[2020-10-14 09:03] sggts04 opened #108 "Add the discord server link to the About Section"
To the about section, add some text about the Discord Server of Geektoberfest and then hyperlink the link to the Geektoberfest Discord Server with it. You can style the hyperlink so it doesn't look too distracting.

Here is the discord server link: https://discord.gg/VQqfNAG

[2020-10-14 09:04] Aldhanekaa commented on #108
may i work on this issue?

[2020-10-14 09:04] shyamTayal commented on #108
I can do it.. please assign

[2020-10-14 09:05] Vanhsiav-afk commented on #105
I've added a media query in addition to adding increaing the padding in all the sections which seems to do the work for different window sizes

[2020-10-14 09:06] sggts04 commented on #108
@Aldhanekaa Hey, thanks for your interest. However, this repo is part of an event being held exclusively for our organisation.

Thanks.

[2020-10-14 09:06] sggts04 commented on #108
@shyamTayal go ahead

[2020-10-14 09:10] sggts04 opened #109 "Make the 'Event Ends In" text smaller in the countdown."
Currently the text is almost as big as the countdown and doesn't look that good. Make the text a little bit smaller, and closer to the countdown timer.

[2020-10-14 09:13] ag090118 commented on #109
I would like to work on this

[2020-10-14 09:13] sggts04 commented on #109
@ag090118 go ahead

[2020-10-14 09:29] sggts04 commented on #105
Cool

[2020-10-14 10:32] sruthiragupathy commented on #107
Shall i work on it?

[2020-10-14 13:16] #109 closed

[2020-10-14 13:19] #83 closed

[2020-10-14 14:19] #108 closed

[2020-10-14 14:58] BLACK-PEARLL commented on #52
I want to work on it @sggts04

[2020-10-14 15:00] BLACK-PEARLL commented on #107
I want to work on it ,pl assign.@sggts04

[2020-10-14 15:00] sggts04 commented on #52
Is your laptop working now? The issue shouldn't sit for another 2 days without any progress..

[2020-10-14 15:03] Aditya-2001 commented on #52
@sggts04 I am still getting the same error. You can reassign it

[2020-10-14 15:06] BLACK-PEARLL commented on #52
yes,now working perfectly :) @sggts04

[2020-10-14 15:15] #105 closed

[2020-10-14 15:16] sggts04 commented on #52
@BLACK-PEARLL go ahead

[2020-10-14 16:42] prakhartech commented on #107
Completed the issue Please check and accept #119 PR.
Thanks

[2020-10-14 16:44] sggts04 commented on #107
Hi @prakhartech . Thanks for your interest however this repo is part of an event being exclusively organized for our organization.

[2020-10-15 05:23] Cypherdious89 commented on #76
Is this issue still open @sggts04 ?? I wanna work on this.

[2020-10-15 05:39] #107 closed

[2020-10-15 05:40] sggts04 commented on #76
I had given @geeks5551 some more time, if he doesn't deliver by today then I will reassign

[2020-10-15 05:54] BLACK-PEARLL commented on #52
@sggts04  , i have a query that,as in contributions section there are different json file for each contributors(i.e 33 json files) ,so i have to fetch data fom each file one by one. please guide me in this.

[2020-10-15 06:13] sggts04 commented on #52
@BLACK-PEARLL thats the problem everyone is facing. If you can figure out some method (maybe with Github API) to get the names of all the files in the repo, I guess then you can iteratively fetch all those files.

[2020-10-15 06:14] #106 closed

[2020-10-15 06:17] sggts04 opened #125 "Create a new page /profile.html which takes username as parameter and shows the details of the participant."
Create a new page profile.html which takes the username as a parameter. For example the URL would be:
`https://geekhaven.github.io/Geektoberfest-Main/profile.html?username=2802harsh`

And then according to the username provided in the URL, first you can extract the username from URL, and fetch the details from the correct json file in the contributions folder and display a page showing the details

[2020-10-15 06:22] sggts04 opened #126 "Fix Geekhaven logo getting stretched"
In the navbar, the Geekhaven logo is looking stretched.. It maybe because of the use of both width and height properties instead of one. Also fix the margin around the logo, currently it has some uneven margin, make it look better.

[2020-10-15 06:24] sggts04 opened #127 "Fix countdown being separated from the 'Days' 'Hours' etc Labels."
![image](https://user-images.githubusercontent.com/20678047/96084625-076bd200-0edd-11eb-9f2b-e3b10a91b2f1.png)

The actual timer is separated from the Days Hours Minutes labels while actually the labels should be right below the numbers.

Fix this, however don't add extra space between the 'Event Ends In' label and the countdown, your task is to shift the 'Day Hours..' labels upwards, not the coun

[2020-10-15 06:26] sggts04 opened #128 "Fix Footer showing copyright to Opencode instead of Geektoberfest"
In the footer, it shows Copyright to Opencode'20 instead of Geektoberfest'20. Fix that.

[2020-10-15 06:28] #79 closed

[2020-10-15 06:30] aarpit1010 commented on #128
can I do this ?

[2020-10-15 06:32] aj0311 commented on #127
Hey! Can I work on this issue?

[2020-10-15 06:33] sggts04 commented on #127
@aj0311 go ahead

[2020-10-15 06:34] BLACK-PEARLL commented on #52
@sggts04  thankyou:)

[2020-10-15 06:34] geeks5551 commented on #128
Can i work on this?

[2020-10-15 06:35] geeks5551 commented on #126
can i work on this @sggts04

[2020-10-15 06:36] sggts04 commented on #128
@geeks5551 go ahead

[2020-10-15 06:37] sggts04 commented on #126
@geeks5551 you already have 2 assigned issues in this repo. You still have that scroll to top issue buddy.

[2020-10-15 06:39] thelavenderhue commented on #125
@sggts04 can I work on this?

[2020-10-15 06:41] sggts04 commented on #125
@thelavenderhue go ahead

[2020-10-15 06:46] geeks5551 commented on #126
@sggts04 can you reasign that issue and give me this one as I am unable to fix that issue completely although I tried my best in that

[2020-10-15 06:50] sggts04 commented on #76
@Priyansh-09  go ahead. Make sure the button should only visible when I am scrolled down, not when I am already at the top. Also you'll have to use jquery or something so that when I click the button, it actually visibly scrolls to the top, instead of just snapping to the top.

[2020-10-15 07:25] Suritam-Nandy commented on #128
Can I also work on this?
I have made the change and opened a Pull Request.

[2020-10-15 07:58] Suritam-Nandy commented on #126
I had fixed Issue #128 and opened a PR, and now I fixed #126 and its commit is with the same PR. I forgot to create another branch in my forked repo.

[2020-10-15 08:07] sggts04 commented on #126
Hi @Suritam-Nandy thanks for your interest, however this repo is part of an event being specifically held for our organization.

[2020-10-15 08:32] Suritam-Nandy commented on #128
I have again made the PR following the guidelines.

[2020-10-15 08:34] sggts04 commented on #128
Again @Suritam-Nandy as I already said, thanks for your interest, however this repo is part of an event being specifically held for our organization.

[2020-10-15 08:49] Suritam-Nandy commented on #128
Okay cool.

[2020-10-15 10:24] BLACK-PEARLL commented on #52
@sggts04 ,i tried ,but unable to solve this issue :(
unassign me for this issue.

[2020-10-15 11:09] tsukii21 commented on #52
Okay I am taking up this issue.

[2020-10-15 13:24] sggts04 opened #137 "Fix spelling of Varun's Name in Maintainers"
On special request from @starboi02, we need to fix Varun's name in maintainer names in the Projects Section, in the projects 'Chat App' and 'GOT Character App'.

His Name is Varun Bhardwaj not Varun Bharadwaj :P

[2020-10-15 13:36] Aditya-2001 commented on #137
@sggts04 I want to do this

[2020-10-15 13:38] sggts04 commented on #137
@Aditya-2001  go ahead

[2020-10-15 14:03] #52 closed

[2020-10-15 14:09] #137 closed

[2020-10-15 14:10] #76 closed

[2020-10-15 14:11] tsukii21 opened #141 "Style participants section"
Participants are finally visible but their the styling is unfinished. Add bootstrap cards or sth to make the section look better.
(the participant divs are in main.js and are dynamically being rendered from there, so keep that in mind and don't break the code)

[2020-10-15 14:27] BLACK-PEARLL commented on #141
i want to  work on this,please assign @tuskii21

[2020-10-15 14:30] BLACK-PEARLL commented on #141
i want to work on this @tsukii21

[2020-10-15 14:31] BLACK-PEARLL commented on #141
please assign

[2020-10-15 14:33] Aditya-2001 commented on #141
I want to work on it

[2020-10-15 14:41] #128 closed

[2020-10-15 14:43] sggts04 commented on #141
@BLACK-PEARLL go ahead

[2020-10-15 15:48] tsukii21 commented on #141
@BLACK-PEARLL While you are at it, can you add images of the participants too? (I added a comment there on how to access image url)

[2020-10-15 16:16] BLACK-PEARLL commented on #141
yes :)

[2020-10-15 16:33] tsukii21 opened #147 "Custom cursor redesign"
The current cursor is cool, but the color can be improved. Ideally, a blending mode which inverses the colors is desired, so the cursor is always visible. Also the cursor can change when hovering over a link or an icon.

[2020-10-15 16:56] BLACK-PEARLL commented on #141
@tsukii21 please tell me where you comment "how to access image url".

[2020-10-15 17:00] tsukii21 commented on #141
right where you need it actually. have you pulled the latest changes?

[2020-10-15 17:01] Mehul-12 commented on #147
interested, pl assign

[2020-10-15 17:02] tsukii21 commented on #141
Anyway you can access it as data.imageurl (in the relavant block). (in fact you can access anything this way from your json file)

[2020-10-15 17:06] tsukii21 commented on #147
It says you have commited in this repo before, but I can't see your json file

[2020-10-15 17:10] Mehul-12 commented on #147
Yes, i haven't added my json file yet

[2020-10-15 17:11] tsukii21 commented on #147
What contributions have you made so far? (and add your json file, its how we track the contributors)

[2020-10-15 17:22] Mehul-12 commented on #147
ok, adding my json file now

[2020-10-15 17:36] tsukii21 commented on #147
ok you are assigned

[2020-10-15 17:37] aj0311 commented on #127
![Uploading Screenshot (32).png…]()
Is this okay? Or any other changes...

[2020-10-15 17:45] aj0311 commented on #127
![Screenshot (32)](https://user-images.githubusercontent.com/58393925/96166761-0b7b0c80-0f3c-11eb-89d6-2fd90c23bf19.png)
Is this okay? Or any other changes...

[2020-10-15 18:01] sggts04 commented on #127
Maybe the labels and the time can be a little more closer. Other than that, fine.

[2020-10-15 18:47] #55 closed

[2020-10-15 19:41] #126 closed

[2020-10-16 05:44] BLACK-PEARLL commented on #141
thankyou, i got that :) @tsukii21

[2020-10-16 08:05] BLACK-PEARLL commented on #141
@tsukii21  may i change code of html in main.js which is classes for contributors section.

[2020-10-16 08:35] tsukii21 commented on #141
Yea, go ahead

[2020-10-16 08:54] BLACK-PEARLL commented on #141
i more issue i am facing ,i.e the image of shyam tayal and aditya aggarwal is not loading on website.
please guide me @tsukii21

[2020-10-16 09:03] tsukii21 commented on #141
maybe they have provided invalid urls. Anyway send ss or a live link so I can see your progress

[2020-10-16 09:04] shyamTayal commented on #141
My img url is of google drive if thats a problem , ???

[2020-10-16 09:05] shyamTayal commented on #141
Do i have to add only url from the given site?

[2020-10-16 09:05] Aditya-2001 commented on #141
@BLACK-PEARLL my img url is invalid, I will change it later

[2020-10-16 09:14] tsukii21 commented on #141
@shyamTayal @Aditya-2001 change it later, not a big issue, a default image can be shown for invalid / null urls

[2020-10-16 09:26] BLACK-PEARLL commented on #141
![Untitled](https://user-images.githubusercontent.com/60192561/96241411-bed91500-0fbf-11eb-9060-1831245fe61b.png)

[2020-10-16 09:40] tsukii21 commented on #141
Cool, if the only issue remaining is invalid urls, you can ignore it and make a pr, this bug will be taken up on a new issue

[2020-10-16 09:44] BLACK-PEARLL commented on #141
Ok:)

[2020-10-16 13:09] tsukii21 commented on #147
updates?

[2020-10-16 13:10] tsukii21 commented on #125
updates?

[2020-10-16 13:22] Mehul-12 commented on #147
yup, i will share the live link within few minutes.

[2020-10-16 13:24] tsukii21 opened #162 "navbar redesign 2"
The night mode toggle button should not be in the middle, but in the extreme right. Also if the bottom shadow on link hover can be removed, and there's a transition duration to the hover effect, it will look better.  (the navbar has a responsive feature, so also see that your redesign works well in mobile devices). Take inspiration from this-
![image](https://user-images.githubusercontent.com/3842

[2020-10-16 13:26] sandy9808 commented on #162
Can I do it?

[2020-10-16 13:29] #141 closed

[2020-10-16 13:34] tsukii21 opened #163 "Participants default picture"
some participants have provided invalid image urls. See to it that a default picture is shown instead of whats currently showing.

[2020-10-16 13:36] shahidsiddiqui786 commented on #163
i want to work on it

[2020-10-16 13:38] tsukii21 opened #166 "participant section redesign"
the current design is good, but the participant divs could be smaller and the aspect ratio of the original image should remain intact

[2020-10-16 13:41] tsukii21 commented on #163
Ok, take care not to interfere with the current structure. The participants are being rendered dynamically from main.js, so study how it is working solve this issue

[2020-10-16 13:42] BLACK-PEARLL commented on #166
can i work on this?
@tsukii21

[2020-10-16 13:42] BLACK-PEARLL commented on #162
can i work on this @tsukii21
please assign

[2020-10-16 13:44] tsukii21 commented on #162
@sandy9808 I can't see you in the contributors section. Have you added your json file? (its necessary)

[2020-10-16 13:46] tsukii21 commented on #162
@BLACK-PEARLL I can't find your json file too. add it

[2020-10-16 13:47] tsukii21 commented on #166
@BLACK-PEARLL go ahead (and add your json file)

[2020-10-16 13:48] Mehul-12 commented on #162
interested , may I?

[2020-10-16 13:51] tsukii21 commented on #162
@Mehul-12 finish your assigned issue first

[2020-10-16 13:52] sandy9808 commented on #162
OK, i will add it.

[2020-10-16 13:53] BLACK-PEARLL commented on #162
@tsukii21 ,okk i will add it as soon as possible.

[2020-10-16 14:22] shahidsiddiqui786 commented on #163
ok :)

[2020-10-16 14:23] thelavenderhue commented on #125
@tsukii21 I'm on it

[2020-10-16 14:34] BLACK-PEARLL commented on #162
please assign me this issue @tsukii21

[2020-10-16 18:03] s-282 commented on #162
can i work on this @tsukii21 ?

[2020-10-16 18:30] shahidsiddiqui786 commented on #163
what should be the default picture?

[2020-10-16 19:18] tsukii21 commented on #162
@s-282 Have you contributed before? Have you added your json file?

[2020-10-16 19:25] s-282 commented on #162
No , i haven't contributed

[2020-10-16 19:37] #163 closed

[2020-10-16 19:41] tsukii21 commented on #162
Ok you are assigned. Dont break the existing structure and functionality and respond with a live link when you are done

[2020-10-16 19:44] tsukii21 commented on #125
I want something to prove that you are working on this, or this issue will be reassigned

[2020-10-16 19:47] thelavenderhue commented on #125
@tsukii21 I'll make a pr tomorrow

[2020-10-16 20:04] tsukii21 opened #172 "make this site responsive"
All the major work is done, but the site is still unbearable in smartphones. Making this extended site responsive without breaking the existing functionality can prove to be a challenge, but we need help and any contribution is welcome.

[2020-10-16 20:12] shahidsiddiqui786 commented on #172
I want to work on this.

[2020-10-16 20:15] tsukii21 commented on #172
this is a big issue, you think you can handle it?

[2020-10-16 20:16] KGene1901 commented on #172
I can take a look at it as well to see what I can do

[2020-10-16 20:20] shahidsiddiqui786 commented on #172
I will try the best to do.

I will try to do that .

[2020-10-16 20:21] tsukii21 commented on #172
@KGene1901 we appreciate your interest, but this repo is exclusively for the students of our college

[2020-10-16 20:22] tsukii21 commented on #172
@shahidsiddiqui786 you are assigned. Do a good job, Keep syncing the repo with the original and make sure to provide a live link when you are done

[2020-10-17 09:34] sggts04 commented on #125
This issue is now open.

[2020-10-17 09:38] kumarmanish03 commented on #125
I want to work on this

[2020-10-17 09:39] sggts04 commented on #125
@kumarmanish03 go ahead

[2020-10-17 09:47] #127 closed

[2020-10-17 09:57] sggts04 opened #175 "Smooth scrolling on clicking a navbar menu item only works on Chrome"
If I click on lets say 'Projects' menu item in the nav bar, the website should smoothly scroll to the projects section, instead of just snapping into it. (Just like there is scroll animation in the Scroll To Top button)

**Currently, smooth scrolling is implemented but only works on Chrome/Brave browsers, make it work on all browsers. (Edge etc)**

[2020-10-17 09:59] sandy9808 commented on #175
I can do this,  please assign me.

[2020-10-17 09:59] sggts04 commented on #175
@sandy9808 go ahead.

[2020-10-17 12:02] Mehul-12 commented on #147
I don't know why but this line of code doesnt seem to work.

[2020-10-17 12:32] tsukii21 commented on #162
Any updates?

[2020-10-17 12:34] tsukii21 commented on #166
Updates?

[2020-10-17 12:40] Mehul-12 commented on #147
So shall i commit the current changes into the latest repo?

[2020-10-17 13:45] s-282 commented on #162
is this ok?
https://s-282.github.io/

[2020-10-17 14:09] BLACK-PEARLL commented on #166
@tsukii21
sorry,i will done it by tomorrow afternoon
due to problem which occur in my laptop.

[2020-10-17 15:05] tsukii21 commented on #162
Cool. can you make the animated underlines a bit thinner to match the font weight? And also push the links to the left next to the brand?

[2020-10-17 15:09] tsukii21 commented on #147
It may be because of support issues (what browser are you using?). You know, forget the blend modes(if its not working), make the colors blue again (like it was originally) and make the cursors big when hovering over a link or sth

[2020-10-17 15:10] tsukii21 commented on #166
If no progress is reported by tomorrow, this issue will be reassigned. So keep that in mind

[2020-10-17 16:01] kumarmanish03 commented on #125
@sggts04 Hey, Is I have to create a separate html page or page that would be of the website and include it in website also(with styling)?
Pls elaborate

[2020-10-17 16:05] sggts04 commented on #125
Its a separate page. You just have to create a page that can be accessed using the URL I mentioned. Buttons for reaching to that URL will be done through a separate issue. You can just do basic styling for now, there will be separate issues for improving the style.

[2020-10-17 16:06] BLACK-PEARLL commented on #166
i try my best to do it by tomorrow :)

[2020-10-17 17:16] s-282 commented on #162
ok

[2020-10-17 17:18] s-282 commented on #162
ok, i'll do it.

[2020-10-17 19:23] s-282 commented on #162
Have a look ,
 https://s-282.github.io/

[2020-10-18 06:00] BLACK-PEARLL commented on #166
![Untitled](https://user-images.githubusercontent.com/60192561/96359875-37151700-1135-11eb-810e-69c14a74c8eb.png)

[2020-10-18 06:00] BLACK-PEARLL commented on #166
is this fine?
 @tsukii21

[2020-10-18 07:33] tsukii21 commented on #166
Looks fine, make a PR with the live link included.

[2020-10-18 07:34] BLACK-PEARLL commented on #166
ok

[2020-10-18 07:35] tsukii21 commented on #147
This issue is open now

[2020-10-18 07:41] tsukii21 commented on #162
Don't change the size of the links or the brand, they look good as they were originally. The underlines could be thinner but other than that everything is perfect. Make a PR after making these changes

[2020-10-18 09:30] IC1101Virgo commented on #147
Can I work on this?

[2020-10-18 12:28] s-282 commented on #162
ok, I'll make the changes.

[2020-10-18 13:59] #166 closed

[2020-10-18 14:36] #172 closed

[2020-10-18 14:55] sggts04 opened #191 "Shorten too big Abouts of Participants with "...""
Some participants have too big Abouts. Example:
![image](https://user-images.githubusercontent.com/20678047/96371511-a7488a80-117f-11eb-850d-dc2cd09e98a2.png)

and it is messing with the styling of the card.

So if the About of someone is bigger than some word limit, then end it with "..." after the limit. For example, you can set the character limit as 70. If someone has About more than 70 then y

[2020-10-18 15:17] sandy9808 commented on #175
I am not able to figure out in which browser it is not working. Can you tell me the browser in which it is not working?

[2020-10-18 15:18] BLACK-PEARLL commented on #191
i want to work on this @sggts04

[2020-10-18 15:20] sggts04 commented on #175
Okay it seems to be fixed now for some reason :| Earlier it wasn't working on Edge. I'll close the issue, sorry.

[2020-10-18 15:20] #175 closed

[2020-10-18 15:21] sggts04 commented on #191
@BLACK-PEARLL go ahead.
Also please center the fb/github buttons. The text is centered but the social buttons aren't.

[2020-10-18 18:15] BLACK-PEARLL commented on #191
okk @sggts04

[2020-10-19 05:07] sggts04 opened #196 "The Project Cards are not the same size when hovered on."
For example, when hovering on some of the project cards, this is what happens:

![image](https://user-images.githubusercontent.com/20678047/96403742-c0405280-11f6-11eb-81b1-858dc4bf87bf.png)

![image](https://user-images.githubusercontent.com/20678047/96403781-cfbf9b80-11f6-11eb-974e-e04c5fb4d5d9.png)

As you can see, when hovered, according to the text there, some cards become shorter in height,

[2020-10-19 05:11] sggts04 opened #197 "Add a new page /leaderboard.html which fetches all the participants and displays their number of PRs in a sorted manner."
You can look at how the participants are being fetched in the Participants section of the main site. (Refer the last bit of code in [main.js](https://github.com/GeekHaven/Geektoberfest-Main/blob/main/public/js/main.js) )

In the same way, you have to fetch these participants in new page leaderboard.html, and then create a table where the participants appear in a sorted way according to their numbe

[2020-10-19 05:13] thelavenderhue commented on #197
@sggts04 can I work on this?

[2020-10-19 05:14] shahidsiddiqui786 commented on #197
I want to work on this..

[2020-10-19 05:15] Mehul-12 commented on #196
interested, pl assign

[2020-10-19 05:16] sggts04 opened #198 "Mobile Navbar doesn't have a background colour when clicking on hamburger."
Screenshot:
![image](https://user-images.githubusercontent.com/20678047/96404280-27123b80-11f8-11eb-8f6c-fe820d38cabd.png)

As you can see, when the hamburger is clicked, there is no background behind the menu items, that shouldn't be the case, it looks out of place. It should look as if it was extended from the navbar, so make the background of the drop down navbar, the same color as the navbar.

[2020-10-19 05:16] sggts04 commented on #197
@thelavenderhue go ahead.

[2020-10-19 05:16] sggts04 commented on #196
@Mehul-12 go ahead.

[2020-10-19 05:18] geeks5551 commented on #198
can i work on this @sggts04

[2020-10-19 05:21] sggts04 commented on #198
@geeks5551 go ahead.

[2020-10-19 05:58] #147 closed

[2020-10-19 08:21] BLACK-PEARLL commented on #191
@sggts04 , i after adding "..." after the limit ,for long about
i also have to add read more so anyone if want to read complete about
he/she can click that button and able to read complete about anyone of particioants?

[2020-10-19 08:22] sggts04 commented on #191
No no, no need for that.

[2020-10-19 08:28] BLACK-PEARLL commented on #191
![Untitled](https://user-images.githubusercontent.com/60192561/96420408-1b803e00-1213-11eb-9169-fa1ec1d9a1ea.png)
is this fine?

[2020-10-19 08:29] sggts04 commented on #191
Yes

[2020-10-19 08:30] BLACK-PEARLL commented on #191
okk

[2020-10-19 08:42] #191 closed

[2020-10-19 08:59] Anurag-ak99 commented on #196
is the issue open? then pls assign it to me.

[2020-10-19 10:29] sggts04 opened #205 "Add a mentors section"
Similar to the participants section, add a mentors section below.

You can check the projects section for getting the names of mentors.

Each mentor should be in a card, with details such as Photo, Name, Github Link, Facebook Link. The card styling can be similar to the participants section.

Also add the Mentors menu item to the nav bar.

[2020-10-19 10:31] Ranveer251 commented on #205
I want to work on this.

[2020-10-19 10:32] sggts04 commented on #205
@Ranveer251 go ahead.

[2020-10-19 12:26] #196 closed

[2020-10-19 16:13] #162 closed

[2020-10-19 17:50] #125 closed

[2020-10-19 19:28] sggts04 opened #211 "Link Participant cards to their corresponding Profile."
Along with the Github/Fb Buttons, add a profile button to the participant cards which links the participant's profile.

A participant's profile will be located at:
[code]
**where `xyz123` is the username of the participant.**

The username of the participant should be stored in the variable `participant` in the js code where the participant cards get generated.

[2020-10-19 19:32] Mehul-12 commented on #211
interested, pl assign

[2020-10-19 19:37] sggts04 opened #212 "Redesign profile page."
Each person's profile page is now available.

Example URL: `https://geekhaven.github.io/Geektoberfest-Main/profile.html?username=2802harsh`. You can change `2802harsh` to your own username to get your own profile.

You have to redesign this profile page to look better(Make sure to check pages of different profiles to verify your styling is consistent):

1. Improve the header. Better font, also fix

[2020-10-19 19:38] sggts04 commented on #211
@Mehul-12 go ahead

[2020-10-19 19:40] 2802harsh commented on #212
Pls assign this issue to me

[2020-10-19 19:41] sggts04 commented on #212
go ahead

[2020-10-19 19:43] sggts04 opened #214 "The title of the Profile Page should show participant's name"
Right now the title is just a standard 'Profile'. This should be dynamic. According to the participant's name, the title should become 'Profile - Participant Name'

Example profile url is: `https://geekhaven.github.io/Geektoberfest-Main/profile.html?username=2802harsh`. You can change `2802harsh` to your own username to get your own profile. So for example, this particular url's title should be 'P

[2020-10-19 19:54] maeeast commented on #214
I can take this on :)

[2020-10-19 19:55] Illusion47586 commented on #212
Hey! I would like to contribute!

[2020-10-19 19:55] geeks5551 commented on #214
can i do this?

[2020-10-19 19:56] sggts04 commented on #214
Hi @maeeast . Thanks for your interest however this repo is part of an event being specifically held for our organization. Sorry.

[2020-10-19 19:57] sggts04 commented on #214
@geeks5551 go ahead.

[2020-10-19 19:58] maeeast commented on #214
No worries! Thanks for letting me know :)

[2020-10-19 20:05] srishtij2000 commented on #205
Can I work on this issue?

[2020-10-19 20:05] srishtij2000 commented on #198
Can I work on this issue

[2020-10-19 21:22] Johnisaig commented on #212
I want to work on this.

[2020-10-20 05:32] #205 closed

[2020-10-20 10:41] #214 closed

[2020-10-20 15:00] sggts04 opened #225 "Add favicon to Profile Page"
Add a suitable favicon to profile.html

[2020-10-20 15:07] BLACK-PEARLL commented on #225
Can i

[2020-10-20 15:07] sggts04 opened #226 "Remember Dark/Light mode preference"
Make the website locally remember the Dark Mode/Light Mode preference of the user. If I toggled Dark Mode on, then next time I open the site, it should default to Dark Mode toggled on. Similar with  Light Mode.

You'll have to save user's preference in localStorage of the user's browser.

[2020-10-20 15:17] BLACK-PEARLL commented on #226
can i?

[2020-10-20 15:44] #225 closed

[2020-10-20 18:44] ankitgauri26 commented on #211
Can i work on this if it is not resolved yet?

[2020-10-20 18:46] ankitgauri26 commented on #226
Can i Work on this?

[2020-10-20 19:18] #197 closed

[2020-10-20 19:23] sggts04 opened #230 "Add a Leaderboard menu item to the navbar"
Leaderboard is now available at `https://geekhaven.github.io/Geektoberfest-Main/leaderboard.html`

Add it to the navbar.

[2020-10-20 19:26] sggts04 opened #231 "Instead of Github URL, link each participants profile URL in the leaderboard"
Currently in the leaderboard, there is a github column and it links to the Github Profile of the participant.

Instead of that, change it to a 'Profile' column, and link each person's geektoberfest profile there. The profile of each participant is available at:
`https://geekhaven.github.io/Geektoberfest-Main/profile.html?username=xyz123` where `xyz123` is the username.
You'll have to understand th

[2020-10-20 19:29] sggts04 opened #232 "Improve Styling of Leaderboard"
Currently the leaderboard doesn't look that good.

1. Choose a better background colour, something more minimal and light, it doesn't necessarily need to be a gradient either, right now it is just too flashy and doesn't good look at all.
2. Add a good looking header with the heading 'Geektoberfest'20 Leaderboard'
3. Improve the table styling if possible, right now it looks a bit plain, you can goo

[2020-10-20 19:31] #198 closed

[2020-10-20 19:32] Cypherdious89 commented on #232
Can I do this ?

[2020-10-20 19:32] Cypherdious89 commented on #231
Can I do this ??

[2020-10-20 19:35] sggts04 opened #233 "Make the Scroll-To-Top button appear in front"
Currently, in mobile view, the Scroll-To-Top button goes behind the participant cards or the project cards and then it can't be clicked. Make the Scroll-To-Top appear at top, at highest priority of other elements.

[2020-10-20 19:36] sggts04 commented on #232
@Priyansh-09 go ahead.

[2020-10-20 19:38] sggts04 commented on #231
@Priyansh-09 your 6th issue just got assigned to you. If you want to contribute more you can contribute to other public repositories and add them to your file. If you have made any other public contributions after 10 Oct, you can add them to your file too.

[2020-10-20 19:46] Cypherdious89 commented on #231
Okay, will add them too.

[2020-10-20 19:54] ankitgauri26 commented on #230
@sggts04 - can i work on this?

[2020-10-20 20:01] sggts04 commented on #230
Hi @ankitgauri26 , thanks for your interest, however this repo is part of an event being held exclusively for our organization.

[2020-10-20 20:01] tanishbaansal commented on #233
is this issue still opened ?

[2020-10-20 20:04] sggts04 commented on #233
Hi @tanishbaansal, thanks for your interest however this repo is part of an event exclusive to our organization.

[2020-10-20 21:02] BLACK-PEARLL commented on #233
Can i?

[2020-10-20 21:03] BLACK-PEARLL commented on #230
Can i?

[2020-10-21 05:35] sggts04 commented on #233
@BLACK-PEARLL go ahead.

[2020-10-21 06:27] thelavenderhue commented on #230
@sggts04 can I work on this?

[2020-10-21 06:41] Codedude1 commented on #231
Can I work on this?

[2020-10-21 06:46] sggts04 commented on #231
@Codedude1 go ahead.

[2020-10-21 09:22] #230 closed

[2020-10-21 11:47] kumarmanish03 commented on #211
@sggts04 Can I work on it?

[2020-10-21 11:47] sggts04 commented on #211
@Mehul-12 any update? or I will have to reassign this.

[2020-10-21 12:07] Mehul-12 commented on #211
yup, will try till tonight.
if I am unable to do then pl reassign.

[2020-10-21 12:43] #232 closed

[2020-10-21 13:42] 2802harsh commented on #212
@sggts04 please review the PR

[2020-10-21 13:51] #226 closed

[2020-10-21 15:05] sggts04 opened #248 "Replace images that couldn't be loaded with a default image."
In the leaderboard, some of the participants' images are not loading and giving errors.

They are showing up as this and its not looking good;
![image](https://user-images.githubusercontent.com/20678047/96738733-a6606480-13dc-11eb-85e7-f426e6b939f0.png)

If an image gives an error when loading, then replace it with a default image.

You can comment and show the default image you are using here bef

[2020-10-21 15:06] kumaraditya2002 commented on #248
can i work on this

[2020-10-21 15:06] sggts04 commented on #248
go ahead @kumaraditya2002

[2020-10-21 15:07] 2802harsh commented on #212
@sggts04 I have added a new PR. Please review

[2020-10-21 15:08] #212 closed

[2020-10-21 15:15] sggts04 opened #250 "The title of the Profile Page should show participant's name"
Right now the title is just a standard 'Profile'. This should be dynamic. According to the participant's name, the title should become 'Profile - Participant Name'

Example profile url is: `https://geekhaven.github.io/Geektoberfest-Main/profile.html?username=2802harsh`. You can change `2802harsh` to your own username to get your own profile. So for example, this particular url's title should be 'P

[2020-10-21 15:17] kumaraditya2002 commented on #250
can i work on this

[2020-10-21 15:18] sggts04 opened #251 "Remove 'Issue Link' Column from the PRs table in Profile Page"
As cool as it sounds, the issue link column actually doesn't do anything and just links the API response for the same the issue number as the PR number, which doesn't make any sense. So remove that column entirely.

[2020-10-21 15:19] sggts04 commented on #250
@kumaraditya2002 go ahead.

[2020-10-21 15:21] sggts04 opened #252 "Profile Page navbar links don't work"
Right now, due to the extra `../` in the navbar links of the Profile Page, they are navigating to a different website than the actual Geektoberfest website, fix that. The index.html and leaderboard.html files are in the same folder as profile.html, not a folder above.

[2020-10-21 15:23] BLACK-PEARLL commented on #252
can i?

[2020-10-21 15:28] sggts04 commented on #252
@BLACK-PEARLL there is a 6 PR limit to Geekhaven repos. Right now you have already documented 4 of your PRs, 5th one is merged but you haven't added it yet, and there is already a 6th issue assigned to you.

Also, please note that in your PR file you have mentioned issue links instead of PR links due to which your profile page is appearing as broken. Next time you update your file, go through all

[2020-10-21 15:38] kumarmanish03 commented on #252
I want to work on it

[2020-10-21 15:44] kumarmanish03 commented on #211
@sggts04 could you assign it to me?

[2020-10-21 15:45] sggts04 commented on #252
@kumarmanish03 go ahead.

[2020-10-21 16:12] kumaraditya2002 commented on #251
can i

[2020-10-21 18:54] #252 closed

[2020-10-21 20:16] #250 closed

[2020-10-21 20:26] sggts04 commented on #251
@kumaraditya2002 go ahead. Also make sure to add your PR file and update it with your merged PRs.

[2020-10-21 20:30] sggts04 commented on #211
@kumarmanish03 go ahead. But this will be last issue assigned to you in Geekhaven Repos. There is a 6 PR limit to Geekhaven repos, you have already added 4 PRs, 1 PR is merged but you haven't added it to your file yet, and last this one. If you want to add more contributions to Geektoberfest, then you can contribute to other public repos on Github, and add them to your file.

[2020-10-22 05:48] #248 closed

[2020-10-22 07:05] #233 closed

[2020-10-22 07:05] #231 closed

[2020-10-22 07:11] sggts04 opened #264 "Add a preloader gif to the Leaderboard table when it is fetching participants"
When the leaderboard page is fetching and loading the participants, add a preloader to the leaderboard table which fades out when the table gets loaded.

Don't add a preloader to the whole leaderboard.html page, but only to the table when it is fetching participants.

[2020-10-22 07:14] sggts04 opened #265 "Add a preloader gif to the PR table in the profile page when the PRs are getting fetched."
In the profile page, the table with the details of PRs takes some time to load, add a preloader gif for that table. Make sure the gif you choose matches the vibe of the page.

Don't add a preloader to the whole profile.html page, but only for the PR table while its loading.

[2020-10-22 07:15] shahidsiddiqui786 commented on #265
Can i

[2020-10-22 07:17] sggts04 commented on #265
@shahidsiddiqui786 go ahead.

[2020-10-22 07:38] kumaraditya2002 commented on #264
can i work on this??

[2020-10-22 13:19] sggts04 commented on #264
@kumaraditya2002 go ahead.

[2020-10-22 13:27] #211 closed

[2020-10-22 16:06] #251 closed

[2020-10-22 16:29] sggts04 opened #271 "Add navbar and footer to Leaderboard"
Add the same navbar and footer as the main page and the profile page to the leaderboard page. Make sure all the functionalities are working.

[2020-10-22 16:32] thelavenderhue commented on #271
@sggts04 can I work on this?

[2020-10-22 16:33] sggts04 opened #272 "Fix Social Links in footer of profile page"
The Social Links in the footer of profile page are styled wrong.

Here's how it looks in Light Mode
![image](https://user-images.githubusercontent.com/20678047/96902311-ffe69300-14b1-11eb-9866-a9ec52526bbd.png)

and in Dark Mode
![image](https://user-images.githubusercontent.com/20678047/96902516-3f14e400-14b2-11eb-9d9e-71540f687c43.png)

Fix these colours, they look out of place.

[2020-10-22 16:43] kumaraditya2002 commented on #272
can i?

[2020-10-22 23:28] charlygg commented on #272
Is still open this issue?

[2020-10-23 07:02] sggts04 commented on #272
@kumaraditya2002 go ahead.

[2020-10-23 11:09] #272 closed

[2020-10-23 14:41] #265 closed

[2020-10-23 14:49] sggts04 opened #278 "Show error in Profile Page if wrong username is entered."
Show an error that the username doesn't exist on the profile page when a wrong username is entered. Right now a broken page appears, with errors in the console. Show a proper page.

[2020-10-23 14:55] krishnasreekoganti commented on #278
@sggts04 can I work on this?

[2020-10-23 14:56] IC1101Virgo commented on #278
Can I work on this?

[2020-10-23 15:02] sggts04 commented on #278
@IC1101Virgo go ahead.

@krishnasreekoganti thanks for your interest however this repo is part of an event being held exclusively for our organization.

[2020-10-23 17:51] sggts04 opened #282 "In the profile page, add a search functionality to search for another user."
In the profile page, below the profile of whoever's profile is requested, add a new search section with a search bar which accepts a username and redirects to the profile page of the username requested.

Give the section a proper heading and proper styling, make sure the styling matches the styling of the profile page.

[2020-10-23 17:52] sggts04 opened #283 "When clicking on someone's profile from the leaderboard, it should open in a new tab."
When clicking on someone's profile page(details column) from the leaderboard page, the profile should open on a new tab instead of the same tab.

[2020-10-23 17:54] sggts04 opened #284 "When clicking on someone's social pages or profile page, from the participants section, it should open in a new tab."
When clicking on someone's fb/github/profile page from the participants section in the main website, it should open in a new tab instead of the same tab.

[2020-10-23 17:54] shahidsiddiqui786 commented on #282
Can i

[2020-10-23 17:55] sggts04 opened #285 "Add Saarani-Frontend to the Projects list"
You can find its repo in the Geekhaven organization. Add it as a project in the projects section of the main site.

[2020-10-23 18:46] Aditya-2001 commented on #284
I want to do it

[2020-10-23 18:49] Aditya-2001 commented on #283
i want to do it

[2020-10-23 18:50] za-h-ra commented on #283
I just did it

[2020-10-23 18:59] Aditya-2001 commented on #285
I want to do this

[2020-10-23 20:37] sggts04 commented on #283
@Aditya-2001 go ahead.

[2020-10-23 20:38] sggts04 commented on #284
@Aditya-2001  go ahead.

[2020-10-23 20:38] sggts04 commented on #285
@Aditya-2001 you can only work at max 2 issues at a single time in a repo

[2020-10-23 21:34] za-h-ra commented on #283
@sggts04 you closed my PR, just wondering, did I not get it?

[2020-10-23 23:23] kamal-kaur04 commented on #285
Hi @sggts04, Can I take up this issue?

[2020-10-24 05:15] sggts04 commented on #283
@zahrakhadijha Thanks for your interest however this repo is part of an event being held exclusively for our organization.

[2020-10-24 05:33] za-h-ra commented on #283
Gotcha! Thanks

[2020-10-24 06:04] Aditya-2001 commented on #285
@sggts04 I have created pr for one issue, so I have one task, can I take up this issue now?

[2020-10-24 06:12] sggts04 commented on #285
@Aditya-2001 go ahead. Also don't forget to update your PR file.

[2020-10-24 06:13] #283 closed

[2020-10-24 06:14] #284 closed

[2020-10-24 06:18] Aditya-2001 commented on #285
Sir pr of #283 issue is not created till now by me

[2020-10-24 06:20] Aditya-2001 commented on #285
Can I create pr of #283 with this issue?

[2020-10-24 06:28] sggts04 commented on #285
Didn't you solve both the issues with that PR? If you commit changes after creating a PR and the PR is not yet merged, that new commit gets added to the previous PR aswell

[2020-10-24 06:30] Aditya-2001 commented on #285
oh @sggts04 , same thing has happened, commit for #283 has been already merged

[2020-10-24 13:49] thelavenderhue opened #293 "Cannot open different sections of the main page directly"
When trying to directly open sections(through url) like About, Participants, Mentors, etc. it goes to #section1. Only on clicking the navbar links, it navigates to the sections.

[2020-10-24 17:32] #285 closed

[2020-10-24 18:06] #282 closed

[2020-10-24 18:10] sggts04 opened #297 "Search bar in profile page should search when enter is pressed also"
Right now, after typing the username in search bar of profile page, you have to click the search button to go to the profile, make it so that just pressing enter should also act as submitting the search.

[2020-10-24 18:49] RedLinus commented on #297
I take fix this one 🙂

[2020-10-24 18:50] sggts04 commented on #297
@RedLinus thanks for your interest however this repo is part of an event being held exclusively for our organization.

[2020-10-24 18:53] RedLinus commented on #297
@sggts04 Okey, I understand. Good luck with your event! 😄

[2020-10-25 04:49] kumaraditya2002 commented on #297
can i

[2020-10-25 14:58] #271 closed

[2020-10-26 09:21] #264 closed

[2020-10-27 04:46] Parasagrawal commented on #293
i want to work on this issue

[2020-10-27 04:48] Parasagrawal commented on #297
can i work on this

[2020-10-27 05:17] sggts04 commented on #293
@Parasagrawal go ahead.

[2020-10-27 05:18] sggts04 commented on #297
@kumaraditya2002 any progress?

[2020-10-28 06:42] #297 closed

[2020-10-30 13:40] sggts04 commented on #293
@Parasagrawal I reverted your previous PR. The changes you made broke the website instead of fixing it. What your changes did were:
1. Remove Leaderboard Item from Navbar
2. Hide the Dark Mode Toggle with the Navbar, the Toggle wasn't clickable anymore.
3. Smooth scrolling was removed.

You have to fix the issues while retaining all these features.